include CHANGELOG.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include CREDITS.md
include LICENSE
include SECURITY.md
recursive-include docs *.md
recursive-include docs/images *.png
recursive-include examples *.json *.md *.poni *.py *.sh
prune examples/ti64_demo/workspace
